.tickets-section {
    .container {
        padding: 75px 0 66px 0;
    }
    .wrapper {
        padding: 102px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 60px;
    }
    .buy-tickets {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 240px;
    }
    .wr-ticket {
      h5 {
        padding-bottom: 53px;
      }
      
    }
    .wr-amount {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h5 {
        padding-bottom: 15px;
      }
      span {
        font-weight: 300;
        font-size: $fs-4;
        line-height: 26px;
      }
      .space {
        letter-spacing: 1.65px;
        padding: 50px 0 60px 0;
      }
      .amount-item {
        padding: 5px 0;
        span {
          display: inline-block;
          margin-bottom: 14px;
        }
      }
      a {
        position: relative;
        &:focus {
          outline: none;
        }
        .circle {
          position: absolute;
          background-color: #fff;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          transform: translate(-50%, -50%) scale(0);
          animation: scale 0.5s ease-out;
        }
      }
      
      @keyframes scale {
        to {
          transform: translate(-50%, -50%) scale(3);
          opacity: 0;
        }
      }
    }
    .radio-btn {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 22px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      /* Hide the browser's default radio button */
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark:after {
          display: block;
        }
      }
      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        background-color: $light;
      }
    }    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 4px;
      left: -4px;
      height: 17px;
      width: 17px;
      background-color: transparent;
      border: 2px solid $dark;
      border-radius: 50%;
      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }
    
    /* Style the indicator (dot/circle) */
    .radio-btn .checkmark::after {
      top: 25%;
      left: 23%;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $dark;
    }

    .input-num {
      display: flex;
      padding: 3px 18px;
      width: 150px;
      height: 50px;
      text-align: center;
      align-content: center;
      border: 2px solid $dark;
      text-align: center;
      input {
        width: 89px;
        font-weight: 300;
        font-size: $fs-4;
        line-height: 26px;
        text-align: center;
      }
      button {
        background-color: $light;
        font-family: $text;
        font-size: $fs-2;
        line-height: 37px;
        text-align: center;
        color: #000000;
      }
    }
    .number {
      all: unset;
      width: 3em;
      text-align: center;
    }
    
  .parallax {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    background-image: url(../assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

}

