.video-section {
  padding: 90px 0 76px;
  .container {
    position: relative;
  }
  .video-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    padding-bottom: 75px;
    h2 {
      max-width: 606px;
    }
    p {
      max-width: 717px;
    }
  }
  video {
    width: 100%;
  }
  .video-sm-slider {
    padding-top: 44px;
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
      padding-bottom: 28px;
    }
    /* Лента слайдов */
    .slick-track{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }
    .slick-slide{
      video {
        width: 452px;
        height: 254px;
      }
    }
    /* Стрелка */
    .slick-arrow{
      position: absolute;
      bottom: 0;
      z-index: 10;
      font-size: 0;
      width: 10px;
      height: 12px; 
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
      left: 43%;
      background: url('../assets/svg/arrow-l-grey.svg') 0 0 / 100% no-repeat;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      right: 43%;
      background: url('../assets/svg/arrow-r-grey.svg') 0 0 / 100% no-repeat;
    }
    /* Точки (булиты) */
    .slick-dots{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 27px;
    }
    .slick-dots li{
      margin: 0 10px;
    }
    /* Активная точка */
    .slick-dots li.slick-active button {
      background-color: $red;
    }
    /* Элемент точки */
    .slick-dots li button{
      font-size: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $grey;
      &:hover {
        background-color: $red;
      }
      &:focus {
        background-color: $red;
      }
    }
  }
}

.video-slider {
  position: relative;
  max-width: 100%;
  .big-play-btn {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 35%;
    left: 45%;
    background-color: transparent;
    background-image: url(../assets/svg/button-bg-play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      opacity: 0.5;
    }
  }
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .video-controls {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $dark;
    gap: 50px;
    padding: 25px;
    .play-button {
      width: 23px;
      height: 31px;
      background-color: transparent;
      background-image: url(../assets/svg/play.svg);
      background-repeat: no-repeat;
      background-size: contain;
      &:hover {
        opacity: 0.5;
      }
    }
    .volume-button {
      width: 38px;
      height: 31px;
      background-color: transparent;
      background-image: url(../assets/svg/volume.svg);
      background-repeat: no-repeat;
      background-size: contain;
      &:hover {
        opacity: 0.5;
      }
    } 
    .muted {
      background-image: url(../assets/svg/mute.svg);
    }
    .fullscr-button {
      width: 35px;
      height: 35px;
      background-color: transparent;
      background-image: url(../assets/svg/fullscreen.svg);
      background-repeat: no-repeat;
      background-size: contain;
      &:hover {
        opacity: 0.5;
      }
    }
    .progress {
      background: $grey;
      height: 8px;
      width: 929px;
      outline: none;
      transition: background 450ms ease-in;
      -webkit-appearance: none;
    }
    
    .progress-vol {
      background:  linear-gradient(to right, $red 0%, $red 30%, $grey 30%, $grey 100%);
      height: 8px;
      width: 155px;
      outline: none;
      transition: background 450ms ease-in;
      -webkit-appearance: none;
    }

    // input[type=range]:focus {
    //   outline: none;
    // }
    // input[type=range]::-webkit-slider-thumb {
    //   width: 15px;
    //   height: 15px;
    //   border-radius: 50px;
    //   -webkit-appearance: none;
    //   cursor: pointer;
    //   background: $light;
    // }
    .progress::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50px;
      -webkit-appearance: none;
      cursor: pointer;
      background: $light;
    }
    .progress-vol::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50px;
      -webkit-appearance: none;
      cursor: pointer;
      background: $light;
    }
    // input[type=range]::-webkit-slider-runnable-track {
    //   width: 100%;
    //   height: 8.4px;
    //   cursor: pointer;
    //   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    //   background: rgba(255,255,255,0.8);
    //   border-radius: 1.3px;
    //   border: 0.2px solid rgba(1, 1, 1, 0);
    // }
    // input[type=range]::-webkit-slider-thumb {
    //   height: 15px;
    //   width: 15px;
    //   border-radius: 50px;
    //   background: $light;
    //   cursor: pointer;
    //   -webkit-appearance: none;
    //   margin-top: -3.5px;
    //   box-shadow:0 0 2px rgba(0,0,0,0.2);
    // }
    
    // input[type=range]::-moz-range-track {
    //   width: 100%;
    //   height: 8.4px;
    //   cursor: pointer;
    //   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    //   background: #ffffff;
    //   border-radius: 1.3px;
    //   border: 0.2px solid rgba(1, 1, 1, 0);
    // }
    
    // input[type=range]::-moz-range-thumb {
    //   box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    //   height: 15px;
    //   width: 15px;
    //   border-radius: 50px;
    //   background: #ffc600;
    //   cursor: pointer;
    // }
  }
}


